<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Some Website</title>
  </head>

  <body>
    {{> header}}
    <p>Go shmuck yourself... Ya piece of shmit.</p>

    {{> footer}}
  </body>
</html>
